<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/score_logo.jpg"} width="60" />
      </a>
      <p class="text-lg">
        FastScore
      </p>
    </div>
  </div>
</header>
<main>
  <%= @inner_content %>
</main>
