<section class="home-page-wrapper">
  <h2>Here we go.</h2>

  <%= if @data do %>
    <%= for competition <- @data do %>
      <a href={"/competition/#{competition["code"]}"}><%= competition["code"] %></a>
    <% end %>
  <% end %>
</section>
